{  
   "":"0",
   "credentials":{  
      "scope":"GLOBAL",
      "id":"jenkins2",
      "description":"JENKINS SSH KEY",
      "username":"jenkins",
      "privateKeySource":{  
         "value":"0",
         "privateKey":"bbbbbbbbbb",
         "stapler-class":"com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$DirectEntryPrivateKeySource",
         "$class":"com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$DirectEntryPrivateKeySource"
      },
      "passphrase":"",
      "$redact":"passphrase",
      "stapler-class":"com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey",
      "$class":"com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey"
   },
   "Jenkins-Crumb":"{{ crumb.json.crumb }}"
}